@charset "UTF-8";
:root {
    --primary: #05c46b;
    --secondary: #f3f3f3;
    --accent: #575fcf;
    --surface: #fff;
    --gray: #222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    width: 100vw;
}

nav {
    display: flex;
    background-color: var(--primary);
    color: #fff;
    width: 100vw;
    padding: 1rem;
}

.header {
    background: url("../images/vr-back.jpg");
    background-size: cover;
    padding-bottom: 67.25%;
}

.lighthouses {
    background: url("../images/vr-lighthouses.jpg");
    background-size: cover;
    padding-bottom: 67.25%;
}

.controllers {
    background: url("../images/vr-controllers.jpg");
    background-size: cover;
    padding-bottom: 67.25%;
}

h1, h2, h3 {
    margin: 0 auto;
}

h2, h3 {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 2rem;
    padding-top: .3rem;
    font-weight: lighter;
}

h2 {
    font-size: 2rem;
    transform: translateY(-285%);
}

h3 {
    font-size: 1.2rem;
    transform: translateY(-475%);
    font-weight: lighter;
}

h4 {
    color: var(--primary);
    font-size: 1.5rem;
    padding: 2rem 2rem 0 2rem;
}

h5 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--accent);
}

span {
    display: none;
    font-size: 2rem;
    padding-top: 1%;
}

p {
    padding: 2rem;
}

img {
    width: 100vw;
}

article {
    width: 100vw;
}

.authors {
    padding-top: 0;
    z-index: 0;
}

.primary {
    background-color: #fff;
}

.secondary {
    background-color: var(--secondary);
}

.related {
    background-color: var(--secondary);
    display: flex;
    width: 85vw;
    margin-bottom: .3rem;
}

.aligner {
    padding: 2rem;
}

.related-img {
    width: 45vw;
    height: auto;
}

.related>p {
    width: 45vw;
    padding: .3rem;
}

.newsletter {
    padding: 0 3rem;
    text-align: center;
}

/*Form*/

form {
    padding: 1rem;
}

input {
    border: none;
    width: 80vw;
    text-align: center;
    font-family: inherit;
    margin: 1rem;
}

input[type=text] {
    border-bottom: solid 3px var(--accent);
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 1.5rem;
}

input[type=submit] {
    background-color: var(--accent);
    font-size: 1.2rem;
    color: #fff;
    box-shadow: #000 0 0 5px;
    padding: 1rem 2rem;
}

input[type=submit]:hover {
    opacity: 0.8;
}

footer {
    background: var(--primary);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

footer>.fa {
    padding: 1.2rem;
    margin: .5rem 0;
}

/* Extra small devices (phones, 440-600px) */

@media only screen and (min-width: 440px) and (max-width: 600px) {

    h2 {
        font-size: 2.2rem;
        transform: translateY(-320%);
    }

    h3 {
        font-size: 1.4rem;
        transform: translateY(-520%);
    }

    h2, h3 {
        text-align: center;
        color: #fff;
    }

    h4 {
        font-size: 1.5rem;
        color: var(--primary);
    }

    h5 {
        font-size: 1.7rem;
        text-align: center;
        color: var(--accent);
        transform: translateY(-35%);
        padding: 0 .3rem;
    }

    p {
        font-size: 1.1rem;
    }

    .related {
        margin: .5rem;
    }

    .related-img {
        width: 35vw;
    }

    .related>p {
        width: 40vw;
        padding: .3rem;
    }

    .newsletter {
        padding: 0 3rem;
    }

    form {
        padding: 1.7rem;
    }

    input[type=text] {
        font-size: 1rem;
        padding: 2rem;
    }
    
    input[type=submit] {
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }

    footer {
        padding: 1rem 2rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {

    nav {
        padding: 1.5rem;
    }

    h1 {
        font-size: 3rem;
        padding-top: 0;
    }

    h2 {
        font-size: 3rem;
        transform: translateY(-330%);
    }

    h3 {
        font-size: 1.8rem;
        transform: translateY(-550%);
    }

    h4 {
        font-size: 2rem;
        padding: 2rem 3rem 0 3rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    .authors {
        padding-top: 0;
        transform: translateY(0);
    }

    p {
        font-size: 1.3rem;
        padding: 3rem;
    }

    .aligner {
        padding: 2rem 4rem;
    }

    .related {
        display: flex;
        width: fit-content;
        margin: .5rem;
    }

    .related-img {
        width: 40vw;
        height: auto;
    }

    .related>p {
        width: 40vw;
        padding: .3rem;
    }

    form{
        padding: 2.4rem;
    }

    input[type=text] {
        font-size: 1.5rem;
        padding: 2.2rem;
    }
    
    input[type=submit] {
        font-size: 1.7rem;
        padding: 1rem 2.2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {

    h1 {
        font-size: 3rem;
        padding: 0;
    }

    h2 {
        font-size: 3.5rem;
        transform: translateY(-340%);
    }

    h3 {
        font-size: 2rem;
        transform: translateY(-600%);
    }

    form {
        padding: 3.5rem;
    }
}

/* Small laptops, flipped tablets */

@media only screen and (min-width: 992px) {

    nav {
        padding: 2%;
    }

    .fa-bars, .fa-user {
        display: none;
        padding: 1.5%;
    }

    .flexbox {
        display: flex;
    }

    .flexbox-secondary {
        display: flex;
        flex-direction: row-reverse;
    }

    h1 {
        font-size: 3.3rem;
        padding: 0;
    }

    h2 {
        font-size: 5rem;
        transform: translateY(-290%);
    }

    h3 {
        font-size: 3rem;
        transform: translateY(-510%);
    }

    h4 {
        font-size: 2.5rem;
        padding: 2rem 2.6rem 0 2.6rem;
    }

    h5 {
        font-size: 2.7rem;
    }

    p {
        font-size: 1.6rem;
        padding: 2.6rem;
    }

    span {
        display: block;
    }

    .roomscale, .the-controllers {
        width: 50vw;
    }

    .lighthouses {
        width: 50vw;
        background-position-x: 16%;
    }

    .controllers {
        width: 50vw;
        background-position-x: 60%;
    }

    .aligner {
        padding: 3rem;
    }

    .related {
        width: 40vw;
        margin: 1.5rem;
    }

    .related-img {
        width: 22vw;
    }

    form {
        padding: 4.5rem;
    }

    input[type=text] {
        font-size: 2rem;
    }

    input[type=submit] {
        font-size: 2.2rem;
        padding: 2rem 2.2rem;
    }
    
}

/*f Laptops */

@media only screen and (min-width: 1200px) {
    ...
}

/*Extra large devices - large laptops, desktops, 1440px and up*/

@media only screen and (min-width: 1440px) {

}